.container {
  display: block;
  position: absolute;
  top: 10px;
  margin-left: 30px;
  width: 500px;
  height: 40px;
  border: thin solid;
  border-radius: 5px;
}

.container:hover {
  box-shadow: 5px 5px 5px 6px #cccccc;
  cursor: pointer;
}

.container input {
  color: #484848;
  background-color: transparent;
  border: 0px;
  padding: 11px;
  font-weight: normal;
  text-overflow: ellipsis;
  font-size: 16px !important;
  line-height: 22px !important;
  width: 100%;
}

.container input {
 outline-width: 0;
}
