.main-content {
  max-width: 80%; 
  padding-top: 15px;
  margin: 0 auto;
  padding-top: 150px;
}

.img {
  box-shadow: 5px 10px 5px 6px #cccccc;
  width: 500px;
  margin: 80px;
  display: 'block';
}

.festivalSearch {
  width: 50%;
  display: flex;
  border: #00000014 1px solid;
  border-radius: 5px;
}