.title {
  font-family: helvitica-nue;
  font-size: 2em;
  font-weight: bold;
}

.container {
  width: 80%;
  align-items: center;
  margin: 100px auto;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
}

