.main-content {
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1024px;
}

.cover {
  display: flex;
  align-items: flex-start;
}

.artist-img {
  box-shadow: 5px 10px 5px 6px #cccccc;
  margin: auto;
  width: 300px;
  height: auto;
  display: inline-block;
  overflow: hidden;
}

.name {
  font-size: 3em;  
  font-weight: bold;
}

.popularity {
  font-size: 1.5em;
}

.artistSearch {
  width: 50%;
  display: flex;
  border: #00000014 1px solid;
  border-radius: 5px;
}