.container {
  width: 20%;
  height: 365px;
  margin: 0 auto;
  display: inline-block;
}

.a {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px 0px #cccccc;
  border-radius: 15px;
  object-fit: cover;
}

.title {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 15px auto auto 5px;
}
