.container {
  width: 100%;
  display: table;
  height: 75px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(228, 228, 228);
}

.cell-1 { 
  display: table-cell;
  vertical-align: middle;
}

.logo {
  margin-left: 60px;
}

.search-container {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

