.container {
  width: 100%;
  display: table;
  height: 75px;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 4px 0px 0px #3833330f;
  z-index: 1;
}

.cell-1 { 
  display: table-cell;
  vertical-align: middle;
}

.logo {
  margin-left: 60px;
}

