@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.container {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 380px;
  transform: translate(-50%, -50%);
  perspective: 1000px;
  margin: 5px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  box-shadow: 5px 10px 3px 3px #bbb;
  height: 100%;
  width: 100%;
}

.card::after {
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  height: 23px;
}

.card-a {
  display: block;
  background-color: #fbfbfb;
}

.card-img {
  border: thin solid #676767;
  display: inline-block;
  width: 85%;
  height: 85%;
  object-fit: cover;
  margin: 15px auto;
}

.label {
  position: absolute;
  bottom: 25px;
}

.label-h1 {
  color: #252525;
  margin: 5px auto;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: 'Permanent Marker', cursive;
}

